@import url(reset.scss);
@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Roboto";
  font-size: 18px;

  transition: background-color 0.25s linear;
}

.dark {
  background-color: #000;
}

.container {
  padding: 0;
  padding-top: 100px;
  width: 100%;
  max-width: 575px;
}

svg {
  fill: none;
}

.form-control {
  border: 1px solid #000;
}

.input {
  .dark & {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;

    &:focus {
      color: #fff;
    }
  }
}

.todo {
  &-header {
    display: flex;

    &__search {
      margin-right: 12px;
    }

    &__input {
      width: 350px;
      height: 50px;

      &::placeholder {
        font-size: 18px;
        color: #dedede;
      }
    }

    &__buttons {
      display: flex;

      button {
        width: 68.5px;
        height: 50px;
        margin-right: 15px;
      }
    }
  }

  &-tasks {
    margin-right: -40px;
    max-height: 310px;
    overflow: auto;
    margin-top: 15px;
  }

  &-add {
    form {
      display: flex;
      margin-top: 15px;
    }

    &__input {
      width: 350px;
      height: 50px;
      margin-right: 12px;

      &::placeholder {
        color: #dedede;
      }

      .dark & {
        background-color: #000;
        border: 1px solid #fff;
      }
    }

    button {
      width: 150px;
      height: 50px;
    }
  }
}

.tasks-wrapper {
  display: flex;

  &.done {
    .task-item {
      background-color: #e8ffd7;
    }
  }

  &:hover {
    .task-icons {
      display: flex;
    }
  }
}

.task-item {
  display: flex;
  align-items: center;
  min-width: 514px;
  min-height: 50px;
  padding-left: 30px;
  padding-right: 23px;
  margin-right: 20px;

  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  .dark & {
    background-color: #ede8bb;
  }
}

.tasks-text {
  width: 300px;
  cursor: pointer;
}

.tasks-date {
  min-width: 120px;
  margin-left: auto;
  font-size: 14px;
  color: #757575;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Icons */

.task-icons {
  display: none;
  align-items: center;
  position: relative;
  bottom: 5px;
  z-index: 2;

  svg {
    cursor: pointer;
  }
}

.task-icon {
  transition: fill 0.1s linear;
}

.task-close {
  margin-right: 10px;
}

.task-edit {
  margin-right: 10px;
  fill: #ccc;

  &:hover {
    fill: darken(#ccc, 10%);
  }
}

.task-done {
  fill: #d4d4d4;

  &.active {
    fill: #0b8b00;
  }

  &:hover {
    fill: #0b8b00;
  }
}

.cancel {
  margin-right: 10px;
  fill: #ccc;

  &:hover {
    fill: #d94a4a;
  }
}

.accept {
  fill: #ccc;

  &:hover {
    fill: #14ae07;
  }
}

.theme {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 10px;
  right: 10px;
}

.theme-hint {
  text-transform: uppercase;
  letter-spacing: 1px;

  .dark & {
    color: #ccc;
  }
}

.theme-btn {
  display: block;
  position: relative;

  width: 70px;
  height: 35px;

  margin-bottom: 5px;
  border-radius: 35px;

  background: #fff;
  transition: all 0.25s linear;

  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);

  &.active {
    background: #222;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
      inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  }
}

.theme-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  border-radius: 50%;
  transform: scale(0.9);
  transition: all 0.25s linear;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);

  .active & {
    left: 35px;
    background: linear-gradient(to bottom, #444, #222);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
      inset 0 4px 4px rgba(255, 255, 255, 0.2),
      inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #d4d4d4;
}

::-webkit-scrollbar-thumb {
  background: #6372f8;
}

/* Helpers */

.dn {
  display: none;
}
