@import url(reset.scss);
@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Roboto";
  font-size: 18px;
}

.container {
  padding: 0;
  padding-top: 100px;
  width: 100%;
  max-width: 575px;
}

svg {
  fill: none;
}

.form-control {
  border: 1px solid #000;
}

.todo {
  &-header {
    display: flex;

    &__search {
      margin-right: 12px;
    }

    &__input {
      width: 350px;
      height: 50px;

      &::placeholder {
        font-size: 18px;
        color: #dedede;
      }
    }
    &__buttons {
      display: flex;

      button {
        width: 68.5px;
        height: 50px;
        margin-right: 15px;
      }
    }
  }

  &-tasks {
    margin-right: -40px;
    max-height: 310px;
    overflow: auto;
    margin-top: 15px;
  }

  &-add {
    form {
      display: flex;
      margin-top: 15px;
    }

    &__input {
      width: 350px;
      height: 50px;
      margin-right: 12px;

      &::placeholder {
        color: #dedede;
      }
    }

    button {
      width: 150px;
      height: 50px;
    }
  }
}

.tasks-wrapper {
  display: flex;

  &.done {
    .task-item {
      background-color: #e8ffd7;
    }
  }

  &:hover {
    .task-icons {
      display: flex;
    }
  }
}

.task-item {
  display: flex;
  align-items: center;
  min-width: 514px;
  min-height: 50px;
  padding-left: 30px;
  padding-right: 23px;
  margin-right: 20px;
  border: 1px solid #000;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.tasks-text {
  width: 300px;
  cursor: pointer;
}

.tasks-date {
  min-width: 120px;
  margin-left: auto;
  font-size: 14px;
  color: #757575;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Icons */

.task-icons {
  display: none;
  align-items: center;
  position: relative;
  bottom: 5px;
  z-index: 2;

  svg {
    cursor: pointer;
  }
}

.task-icon {
  transition: fill 0.1s linear;
}

.task-close {
  margin-right: 10px;
}

.task-edit {
  margin-right: 10px;
  fill: #ccc;

  &:hover {
    fill: darken(#ccc, 10%);
  }
}

.task-done {
  fill: #d4d4d4;

  &.active {
    fill: #0b8b00;
  }

  &:hover {
    fill: #0b8b00;
  }
}

.cancel {
  margin-right: 10px;
  fill: #ccc;

  &:hover {
    fill: #d94a4a;
  }
}

.accept {
  fill: #ccc;

  &:hover {
    fill: #14ae07;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #d4d4d4;
}

::-webkit-scrollbar-thumb {
  background: #6372f8;
}

/* Helpers */

.dn {
  display: none;
}
